.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  margin-top:60px; 
}



.display {
  position: relative;
  aspect-ratio: 1;
}

.display img{
  background-size: cover;
  height: 300px;
  width: 350px;
  border-radius: 14px;
  margin-top: 15%;
}

.content {
  max-width: 570px;
}

.heading {
  font-size: 35px;
  font-weight: 600;
  line-height: 55px;
  max-width: 352px;
}

.subtext {
  font-size: 16px;
  line-height: 30px;
  max-width: 370px;
}

@media (min-width: 600px) {
  .display {
    width: auto;
    height: 595px;
    aspect-ratio: 1;
  }
  .heading {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    line-height: 85px;
    max-width: 570px;
  }
  .subtext {
    font-size: 27px;
    font-weight: 450;
    line-height: 55px;
    word-spacing: 7px;
    max-width: 570px;
  }

  
  .display img{
    background-size: cover;
    height: 500px;
    width: 650px;
    border-radius: 14px;
    margin-top: 0%;
  }

}

@media (min-width: 900px) {
  .section {
    flex-direction: row;
  }
}
