.footer{
    background: rgb(49, 49, 49);
   background: linear-gradient(90deg, rgb(53, 53, 53) 0%, rgb(89, 89, 90) 35%, rgb(98, 99, 99) 100%);
   border-top-left-radius: 200px;
   border-top-right-radius: 200px;
}

.footer img{
    height: 300px;
}